@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply px-2 py-4 bg-white rounded-lg border-2 border-gray-900 font-bold;
    min-width: 300px;
    text-transform: uppercase;
    letter-spacing: 1px;
}